* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Helvetica;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 400px solid blue;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#answerText {
  position: relative;
  top: 200px;
  right: 98px;
  height: 198px;
  width: 198px;
  text-align: center;
  padding-top: 10px;
  color: aqua;
  font-size: 50px;
}

#question {
   color: #c32aff;
   float: right;
   font-size: 40px;
   padding-right: 20px;
   padding-top: 10px;
 }

 #test {
   padding-left: 20px;
   padding-top: 10px;
   font-size: 40px;
}

#text {
   width: 50%;
   height: 35px;
   background-color: lightgrey;
   color: #c32aff;
   border-style: none;
}

#reset {
  padding-top: 9px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  width:80px;
  border-style: none;
  color: #c32aff;
  background-color: lightgrey;
  font-size: 20px;
}
#reset:hover {
  background-color: #B8B8B8;
}

#submit {
  padding-top: 9px;
  padding-bottom: 4px;
  margin-bottom: 2px;
  width:55px;
  border-style: none;
  color: #c32aff;
  background-color: lightgrey;
  font-size: 20px;
}

#submit:hover {
  background-color: #B8B8B8;
}
